Estás recibiendo este correo porque tú (o alguien más) solicitó restablecer la contraseña de tu cuenta en Study App.

Por favor, visita el siguiente enlace y elige una nueva contraseña:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Tu nombre de usuario es: {{ user.get_username }}

Si no solicitaste este correo, puedes ignorarlo con total seguridad. Tu contraseña no cambiará hasta que accedas al enlace de arriba y crees una nueva.

El equipo de Study App.
